body > header {
	font-family: arial;
	background: linear-gradient(to bottom right, pink, yellow, pink, purple);
	border-bottom:  2px solid purple;
	color: purple;
	text-align: center;
	padding: 20px 0;
}

section {
	width: 60%;
	display: inline-block;
	margin: 30px 0;
	padding: 0 10% 0 0;
}

section p {
	text-align : left;
	color: black;
}

nav {
	margin: 15px 0 15px 1%;
	padding: 20px 5px;
	background: linear-gradient(to bottom right, pink, yellow, pink, purple);
	width: 10%;
	float: left;
	border-bottom:  1px solid purple;
	border-top:  1px solid purple;
}

nav:hover {
	background: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

nav ul li {
	font-family: arial;
	font-size: 100%;
	list-style-type: square;
	text-align: left;
	line-height: 2;	
}

nav ul li a:hover {
	background-color: purple;
	color: white;
	font-weight: bold;
	padding: 1%;
}

aside, section {
	font-family: arial;
	font-size: 100%;
	box-sizing: border-box;
}
aside {
	width:15%;
	float: left;
	margin: 30px 5% 30px 5%;
	padding:0 2% 0 0;
	display:inline-block;
}

aside p{
	color: purple;
}
footer p {
	font-family: arial;
	font-size: 80%;
	color: purple;
	text-align: center;
	
}
footer {
	padding: 20px 0;
	background: linear-gradient(to top left, pink, yellow, pink, purple);
	width: 100%;
	border-top:  2px solid purple;
	box-sizing: border-box;
	display:inline-block;
	
}