* {
	font-family: sans-serif;
	font-size: 100%;
	line-height:30px;
}

header >h1 {
	background-color: red;
	border-radius:5px;
	color:white;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
}

section {
	width:100%;
}

input[type="text"], input[type="password"], fieldset p:hover {
	border: solid 2px red;
	border-radius:5px;
	padding-left:1%;
	width:100%;
}
 fieldset p {
	padding-left:1%;
}

input[type="reset"], input[type="submit"] {
	width:48%;
	background-color:red;
	border-radius:5px;
	box-sizing:border-box;
	color:white;
	cursor:pointer;
}
input[type="reset"]{
	margin-right:3%;
}
form input:hover{
	background-color:pink;
	font-weight:bold;
	color:black;
}